body {
  font-family: 'Open Sans', 'helvetica', arial, sans-serif
  font-weight: 300;
  color: #62686f;
  background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg5.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #333;
}

.container {
  margin-top: 105px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.main-header {
  padding: 1px;

  background-image: url(../img/banner.jpg);
}

.main-header__avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -70px;
  margin-bottom: 10px;
  border: solid white 3px;

  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.main-header h1 {
  margin-bottom: 20px;
  text-align: center;

  font-weight: 300;
  font-size: 50px;
  font-family: 'Open Sans', 'helvetica', arial, sans-serif;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.main-nav {
  background-color: #333;
  text-align: center;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav ul li {
  display: inline-block;
  margin: 15px 10px;
}

.main-nav ul li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav ul li a:hover {
  text-decoration: underline;
}

.info-section {
  padding: 1px;
  padding: 30px 60px;
  background-color: #fff;
}

.info-section header {
  text-align: center;
  margin-bottom: 60px;
}

.info-section header h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.info-section header h2:after {
  content: "";
  margin: 10px auto;
  display: block;
  width: 80px;
  border-bottom: 3px solid black;
}

.info-section__description {
  font-style: italic;
}

.whatido__skill-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.whatido__skill {
  float: left;
  padding-top: 100px;
  width: 33.3%;
  background-repeat: no-repeat;
  background-position: center top;
}

.whatido__skill--code {
  background-image: url(../img/skill-code.png);
}

.whatido__skill--design {
  background-image: url(../img/skill-design.png);
}

.whatido__skill--product {
  background-image: url(../img/skill-product.png);
}

.whatido__skill-list:after {
  content: "";
  display: table;
  clear: both;
}

