html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', 'helvetica', arial, sans-serif
  font-weight: 300;
  color: #62686f;
  background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg5.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 300;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-top: 105px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.main-header {
  padding: 1px;
  background-image: url(../img/banner.jpg);
}

.main-header__avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -70px;
  margin-bottom: 10px;
  border: solid white 3px;

  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.main-header h1 {
  margin-bottom: 20px;
  text-align: center;

  font-weight: 300;
  font-size: 50px;
  font-family: 'Open Sans', 'helvetica', arial, sans-serif;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.main-nav {
  background-color: #333;
  text-align: center;
}

.main-nav ul li {
  display: inline-block;
  margin: 15px 10px;
}

.main-nav ul li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav ul li a:hover {
  text-decoration: underline;
}

.info-section {
  padding: 1px;
  padding: 30px 60px;
  background-color: #fff;
}

.info-section header {
  text-align: center;
  margin-bottom: 60px;
}

.info-section header h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.info-section header h2:after {
  content: "";
  margin: 10px auto;
  display: block;
  width: 80px;
  border-bottom: 3px solid black;
}

.info-section__description {
  font-style: italic;
}

.whatido__skill {
  text-align: center;
  float: left;
  padding-top: 100px;
  width: 33.3%;
  background-repeat: no-repeat;
  background-position: center top;
}

.whatido__skill--code {
  background-image: url(../img/skill-code.png);
}

.whatido__skill--design {
  background-image: url(../img/skill-design.png);
}

.whatido__skill--product {
  background-image: url(../img/skill-product.png);
}

.whatido__skill-list:after {
  content: "";
  display: table;
  clear: both;
}

.education-experience__list li {
  overflow: hidden;
  margin-bottom: 40px;
}

.education-experience__list .education-experience__content {
  line-height: 1.2;
  font-weight: 300;
  overflow: hidden;
}
.education-experience__list img {
  margin-right: 30px;
  margin-left: 50px;
  width: 180px;
  float: left;
}

.photos__list {
  overflow: hidden;
}

.photos__list li {
  width: 25%;
  float: left;
  padding: 10px;
}

.photos__list li img {
  width: 100%;
}

.get-in-touch__list {
  overflow: hidden;
}


.get-in-touch__list li{
  width: 25%;
  float: left;
  padding: 20px;
  text-align: center;
}

.get-in-touch__list li img{
  width: 100%;
}

.contact form {
  position: relative;
  margin: 0 auto;
  width: 40%;
}

.contact form button  {
  width: 100%;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.contact button {
  border: none;
  border-radius: 9999px;

  background: #ffd524;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  box-shadow: 0 3px 0 #daae1d;
}

.contact form label {
  position: absolute;
  padding: 8px;
  width: 100%;
  left: -100%;
  text-align: right;
}





